@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '/src/styles/breakpoints';


@media (max-width: $small-mobiles-breakpoint) {
  #skill-container {
    p {
      padding-bottom: 0.1rem !important;
      padding-top: 0.1rem !important;
    }
  }
}
