@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('../assets/fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('../assets/fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../assets/fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}


.font-bold {
  font-weight: bold !important;
}

.clickable:hover {
  cursor: pointer;
}
