@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import '/src/styles/breakpoints';

@media (max-width: map-get($grid-breakpoints, lg)) {
  #about-me-text {
    padding-top: 55vh;
    transition: padding-top ease-in-out 0.4s 0.3s;

    &.collapsed {
      transition: padding-top ease-in-out 0.35s;
      padding-top: 9vh;
    }
  }

  #about-me-text > div {
    height: auto;
    max-height: 0;
    overflow: hidden;

    transition: max-height ease-in-out 0.3s;

    &.collapsed {
      transition: max-height ease-out 0.6s 0.35s;
      max-height: 500px;
    }
  }

  .container {
    padding: 0 1.25rem !important;
  }
}

@media (max-width: $small-mobiles-breakpoint) {
  #about-me-text,#about-me-read-more-container {
    font-size: 0.8em;
  }

  #about-me-read-more-container {
    line-height: 0;
    font-size: 0.75em;
  }
}
